@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
:root{--primary-color:#FBBF24;
}

body{
    font-family: 'EB Garamond', serif;

}
.navigation{
    margin:0.5rem 1rem;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    font-family:  'EB Garamond', serif;
    background-color:var(--primary-color);
    color: white;
    border-radius: 1rem;
}
.section{
    max-width: 600px;
    margin:auto;
    padding:1rem;
    border-radius: 1.5rem;}
   

input{background-color:#FBBF24;
    color:white;
    display: block;
    height: 16vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size :1.5rem;
    font-weight: bold;
   font-family: 'EB Garamond', serif;
    
}
#output{background-color:#FBBF24;
    color:white;
    border:1px solid ; 
    width: 80%;
    height: 16vh;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size:1.5rem;
    font-weight: bold;
    font-family:'EB Garamond', serif;
 }

    
 }


.link{text-decoration: none;
    box-sizing: border-box;
padding: 0.5rem 1rem;}

.link-primary{
    background-color:var(--primary-color);
color: white;
border-radius: 0.5rem;}

.link-secondary{
color: var(--primary-color);
    border: 1px solid var(--primary-color) ;
    border-radius: 0.5rem;
}

.list-unbulleted-list{
   list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

#btn{
    margin: 1rem 0.5rem;
    padding:  0.5rem 1rem;
    font-weight: bold;
    font-size: large;
    border-radius: 1rem;
    font-family:'EB Garamond', serif;
    text-align: center;
     }
.btnt{
    text-align: center;
}
.footer{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    font-size: 1.2rem;
}
.footer-heading{font-weight: bold;
   
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0px;
}